---
import About from "@pages/en/about/index.astro";

import pipoClubPhoto from "@assets/pipoClub.jpeg";
import ageOfEmpiresPhoto from "@assets/ageOfEmpires.png";
import needForSpeedPhoto from "@assets/needForSpeed.jpg";
import warcraftIIIPhoto from "@assets/warcraftIII.jpg";
import callOfDutyPhoto from "@assets/callOfDuty.jpg";
import gtaViceCityPhoto from "@assets/gtaViceCity.jpg";
import twistedSisterPhoto from "@assets/twistedSister.jpg";
import ironMaidenPhoto from "@assets/ironMaiden.jpg";
import megadethPhoto from "@assets/megadeth.jpg";
import gunsNRosesPhoto from "@assets/gunsNRoses.jpg";
import guitarristaDeIglesia from "@assets/guitarristaDeIglesia.jpg";
---

<About>
    <section>
        <p>
            I am Mateo Gregory, I was born in the city of Cali, Colombia. Since
            I was a child, I have always been curious about the world of
            technology, I was practically born next to a computer. With several
            interactive games, my parents guided me, I learned and became
            curious not only about the games themselves but also about how these
            interesting devices worked.
        </p>
        <p class="image_paragraph">
            One of the games I remember so fondly was PipoClub, I look at it now
            and say: It really had nothing special, but I remember it as
            something incredible, seeing the rockets in space, the planets, the
            stars, and wondering how it is possible to see this behind a screen.
            <img
                style="width: 150px;height: 150px;margin:1rem"
                src={pipoClubPhoto.src}
                alt="Pipo Club"
            />
        </p>
        <p>
            Other games that marked my childhood were:
            <a
                href="https://en.wikipedia.org/wiki/Need_for_Speed:_Most_Wanted_(2005_video_game)"
                target="_blank"
                rel="noopener noreferrer"
                ><span>Need for Speed: Most Wanted</span></a
            >,
            <a
                href="https://en.wikipedia.org/wiki/Age_of_Empires_II"
                target="_blank"
                rel="noopener noreferrer"><span>Age of Empires</span></a
            >,
            <a
                href="https://en.wikipedia.org/wiki/Warcraft_III:_The_Frozen_Throne"
                target="_blank"
                rel="noopener noreferrer"><span>Warcraft III</span></a
            > y
            <a
                href="https://en.wikipedia.org/wiki/Call_of_Duty_4:_Modern_Warfare"
                target="_blank"
                rel="noopener noreferrer"><span>Call of Duty</span></a
            >. Each one for a different reason, but all contributed to my love
            for technology and video games.
            <div class="image_box">
                <div class="image_box_column">
                    <a
                        href="https://en.wikipedia.org/wiki/Age_of_Empires_II"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            style="width: 150px;height: 187.5px;margin:1rem"
                            src={ageOfEmpiresPhoto.src}
                            alt="Age of Empires"
                        />
                    </a>
                    <a
                        href="https://en.wikipedia.org/wiki/Need_for_Speed:_Most_Wanted_(2005_video_game)"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            style="width: 150px;height: 187.5px;margin:1rem"
                            src={needForSpeedPhoto.src}
                            alt="Need for Speed"
                        />
                    </a>
                </div>
                <div class="image_box_column">
                    <a
                        href="https://en.wikipedia.org/wiki/Warcraft_III:_The_Frozen_Throne"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            style="width: 150px;height: 187.5px;margin:1rem"
                            src={warcraftIIIPhoto.src}
                            alt="Warcraft III"
                        />
                    </a>
                    <a
                        href="https://en.wikipedia.org/wiki/Call_of_Duty_4:_Modern_Warfare"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            style="width: 150px;height: 187.5px;margin:1rem"
                            src={callOfDutyPhoto.src}
                            alt="Call of Duty"
                        />
                    </a>
                </div>
            </div>
        </p>
        <p>
            During this discovery of technology, I also discovered my love for
            music, unsurprisingly, it was thanks to the soundtracks of video
            games, in this case, thanks to the radio of
            <a
                href="https://en.wikipedia.org/wiki/Grand_Theft_Auto:_Vice_City"
                target="_blank"
                rel="noopener noreferrer"
                ><span>Gran Theft Auto: Vice City</span></a
            >, where I listened to pieces like
            <a
                href="https://www.youtube.com/watch?v=SRwrg0db_zY&ab_channel=TwistedSister"
                target="_blank"
                rel="noopener noreferrer"><span>I Wanna Rock</span></a
            > by <a
                href="https://en.wikipedia.org/wiki/Twisted_Sister"
                target="_blank"
                rel="noopener noreferrer"><span>Twisted Sister</span></a
            >,
            <a
                href="https://www.youtube.com/watch?v=9qbRHY1l0vc&ab_channel=IronMaiden"
                target="_blank"
                rel="noopener noreferrer"><span>2 Minutes to Midnight</span></a
            > by <a
                href="https://es.wikipedia.org/wiki/Iron_Maiden"
                target="_blank"
                rel="noopener noreferrer"><span>Iron Maiden</span></a
            > and
            <a
                href="https://www.youtube.com/watch?v=rdEupVsL07E&ab_channel=megadethvevo"
                target="_blank"
                rel="noopener noreferrer"><span>Peace Sells</span></a
            > by <a
                href="https://en.wikipedia.org/wiki/Megadeth"
                target="_blank"
                rel="noopener noreferrer"><span>Megadeth</span></a
            >. Researching a bit more, I discovered what would be my favorite
            band of that time,
            <a
                href="https://en.wikipedia.org/wiki/Guns_N%27_Roses"
                target="_blank"
                rel="noopener noreferrer"><span>Guns N' Roses</span></a
            >, along with my favorite song of theirs
            <a
                href="https://www.youtube.com/watch?v=o1tj2zJ2Wvg&ab_channel=GunsNRosesVEVO"
                target="_blank"
                rel="noopener noreferrer"
                ><span>Welcome to the jungle</span><a></a>
            </a>
            <div class="image_box">
                <div class="image_box_column">
                    <a
                        href="https://en.wikipedia.org/wiki/Grand_Theft_Auto:_Vice_City"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            style="width: 262px;height: 335px;margin:1rem"
                            src={gtaViceCityPhoto.src}
                            alt="Call of Duty"
                        />
                    </a>
                </div>
                <div>
                    <div class="image_box_column">
                        <a
                            href="https://www.youtube.com/watch?v=SRwrg0db_zY&ab_channel=TwistedSister"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <img
                                style="width: 150px;height: 150px;margin:1rem"
                                src={twistedSisterPhoto.src}
                                alt="Call of Duty"
                            />
                        </a>
                        <a
                            href="https://www.youtube.com/watch?v=9qbRHY1l0vc&ab_channel=IronMaiden"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <img
                                style="width: 150px;height: 150px;margin:1rem"
                                src={ironMaidenPhoto.src}
                                alt="Call of Duty"
                            />
                        </a>
                    </div>
                    <div class="image_box_column">
                        <a
                            href="https://www.youtube.com/watch?v=rdEupVsL07E&ab_channel=megadethvevo"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <img
                                style="width: 150px;height: 150px;margin:1rem"
                                src={megadethPhoto.src}
                                alt="Call of Duty"
                            />
                        </a>
                        <a
                            href="https://www.youtube.com/watch?v=o1tj2zJ2Wvg&ab_channel=GunsNRosesVEVO"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <img
                                style="width: 150px;height: 150px;margin:1rem"
                                src={gunsNRosesPhoto.src}
                                alt="Call of Duty"
                            />
                        </a>
                    </div>
                </div>
            </div>
        </p>
        <p>
            So, thanks to my new musical discovery, around the age of 12, I
            decided that I wanted to learn to play the guitar. With the help of
            my parents, I bought my first guitar, a
            <a
                href="https://www.ibanez.com/eu/products/detail/grx40_5y_02.html"
                target="_blank"
                rel="noopener noreferrer"
                ><span>Gio Ibanez GRX 40</span>
            </a> which I still have to this day and after a few modifications I still
            love it. Now I have two others that I also adore, one
            <a
                href="https://ibanez.fandom.com/wiki/RG370AHMZ"
                target="_blank"
                rel="noopener noreferrer"
                ><span>Ibanez RG370 Amhz</span>
            </a>
            and a
            <a
                href="https://www.ibanez.com/eu/products/detail/grg121dx_2y_05.html"
                target="_blank"
                rel="noopener noreferrer"><span>Ibanez GRG 121 DX</span></a
            >
            and last but not least my bass, a <a
                href="https://www.fender.com/en-US/squier-electric-basses/jazz-bass/classic-vibe-70s-jazz-bass-v/0374550521.html"
                target="_blank"
                rel="noopener noreferrer"
                ><span>Classic Vibe '70s Jazz Bass V</span></a
            > by Squier
        </p>
        <p>
            After going through a somewhat tumultuous high school (Here in
            Colombia we call it Bachillerato), where apart from feeling like I
            didn't fit in, that I wasn't part of anything (yes, typical teenage
            phase), there was violence, discrimination, and many other things
            that shouldn't happen in a place where you are supposed to feel
            safe. A friend came into my life, I would like to say that we are
            still friends, but... let's just say that's life, I suppose. He
            showed me the world of music from the inside, he showed me that
            music was not just about listening to it, not even feeling it, it
            was something more, it was something that could be given, that
            should be given, that should be lived, Juan David Echeverri, former
            guitarist of
            <a
                href="https://www.youtube.com/@DoBlEsEnTiDo01"
                target="_blank"
                rel="noopener noreferrer"><span>Sin Tabla</span></a
            >
            with his iconic song
            <a
                href="https://www.youtube.com/watch?v=U8yAgRkW0F0&ab_channel=SinTabla"
                target="_blank"
                rel="noopener noreferrer"
            >
                <span>Sandwiches & Hamburguesas.</span>
            </a>
        </p>
        <div class="image_paragraph">
            <p>
                I had my moment as a church guitarist, where I learned to play
                in public, to play with others, to play for others, it was a
                pleasant experience, there I met <a
                    href="https://www.instagram.com/el_ducu/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><span>el Ducu</span>
                </a> one of the best guitarists I have known, at the time we were
                peers, now he is a master and I... well, I am
            </p>

            <img
                style="height: 250px;margin:1rem"
                src={guitarristaDeIglesia.src}
                alt="Guitarrista de Iglesia"
            />
        </div>
        <p>
            However, I do not give up, I keep learning, I keep playing, I keep
            at my own pace, but I have a lot to thank him for. Now he has an
            incredible band called <a
                href="https://open.spotify.com/artist/31I6lQ4bqxuKZsISBtH3yH?si=mgrD23FTS-C1q_w7wNSA7g"
                target="_blank"
                rel="noopener noreferrer"><span>Paraiso Fractal</span></a
            >, which if you haven't listened to, I recommend you do.
        </p>
        <p>
            So, the time came when I had to choose a career, when I had to
            decide what I wanted to do with my life and for the rest of my life.
            First, given my love for video games, I thought the best option was
            multimedia engineering. I studied for a semester to realize that it
            was not what I wanted. I wanted something closer to the machine,
            something closer to understanding how at some point humans managed
            to turn a bunch of wires and circuits that send and receive
            electrical signals into something as incredible as a video game.
        </p>
        <p>
            Something very important in my choice was feeling that whatever I
            decided, the profession I chose, had to be something that allowed me
            to help people, something that allowed me to do something for the
            world, something that made me feel that my existence in this world
            was not in vain. It could have been many things: medicine, law,
            psychology, but technology, especially at the time I started (2016),
            had everything ahead of it. The time would come when everyone would
            need a systems engineer, and I was not wrong. Although... at that
            time, I still didn't know how I was going to help them.
        </p>
        <p>
            That's how I decided to study <a
                href="https://eisc.univalle.edu.co/index.php/programas-academicos/ingenieria-de-sistemas"
                target="_blank"
                rel="noopener noreferrer"><span>Systems Engineering</span></a
            > at the
            <a
                href="https://www.univalle.edu.co/"
                target="_blank"
                rel="noopener noreferrer"
                ><span>University of Valle.</span>
            </a> You might wonder, what happened to the music? Well, the answer is
            simple, music has always been there, it has always accompanied me, it
            has always been there for me, and it always will be. But music, at least
            the way I conceived studying it professionally, was not what I wanted.
            Besides, to make music, certain resources are necessary, resources that
            I didn't have at that time. So, I decided that the most viable option
            was to study something that I liked, that I was passionate about, and
            that would give me the opportunity to acquire those resources to make
            music in the future.
        </p>
        <p>
            So that's what I'm doing, I graduated as a Systems Engineer in 2021
            and now I'm building what I always wanted, I'm making digital
            applications to help people, I'm creating, from scratch, from
            nothing, which is something I always loved about Systems
            Engineering, the ability to create with just an idea and a computer.
            And if we put it in those words, it seems like magic, even, it seems
            like music.
        </p>
    </section>
    <style>
        .image_paragraph {
            display: flex;
            align-items: center;
        }
        .image_box {
            margin-top: 2.5rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
        .image_box_column {
            display: flex;
            flex-direction: row;
        }
        .image_box_column img {
            border-radius: 0%;
        }

        ul {
            list-style-type: disc;
            padding-left: 1.5rem;
            margin-top: 1rem;
            color: white;
            li {
                margin-bottom: 0.5rem;
                font-size: 1.3rem;
                color: var(--primaryBaseColor);
                word-spacing: 0.1rem;
                line-height: 1.4;
            }
        }
        h1 {
            margin-bottom: 2rem;
        }
        .section_content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 2rem;
        }
        button {
            margin-top: 2rem;
            padding: 1rem 2rem;
            background-color: var(--secondaryHighlightColor);
            color: var(--primaryTextColor);
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: var(--primaryHighlightColor);
        }
        section {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        p {
            margin-top: 2rem;
        }
        a {
            color: var(--primaryHighlightColor);
            font-style: italic;
        }
        span {
            color: var(--primaryHighlightColor);
        }
        @media screen and (max-width: 1200px) {
            .image_paragraph {
                flex-direction: column;
            }
        }
    </style>
</About>
