---
import Layout from "@layouts/Layout.astro";
import Image from "astro/components/Image.astro";

import profilePhoto from "@assets/MateoGregoryProfile.jpg";
import InnerNavbar from "@components/InnerNavbar.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { SOCIAL } from "@constants/social"; // Added import

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const base_url = "/en/about";

const categories = {
    summary: t("inner_nav.summary"),
    music: t("inner_nav.music"),
    history: t("inner_nav.history"),
    curriculum: t("inner_nav.curriculum"),
};

const current_tab_selected = Astro.url.pathname.split("/").pop();

const nav_elements = Object.entries(categories).map(([key, value]) => ({
    nav_name: value,
    href: `${base_url}/${key}`,
    is_active: key === current_tab_selected,
}));
---

<Layout title="Hi, I'm Mateo!" lang="en">
    <div class="container">
        <a href={SOCIAL.LINKEDIN} target="_blank" rel="noopener noreferrer">
            <Image
                alt="Mateo Gregory in profile with a background of musical instruments such as guitars and a bass."
                src={profilePhoto}
            />
        </a>
        <h1>So... You want to know about me?</h1>
        <InnerNavbar nav_elements={nav_elements} />
        <div class="content_container">
            <slot />
        </div>
    </div>
</Layout>
<style>
    .container {
        align-items: center;
        justify-content: center;
    }
    .content_container {
        width: 100%;
        margin-bottom: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        margin-top: 5rem;
        margin-bottom: 5rem;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
    }
</style>
